* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
}
p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.2;
}

.container {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

main {
  width: 375px;
  padding: 1.4em 1.1em;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

img {
  width: 95%;
  border-radius: 10px;
  transform: scale(1);
  margin-bottom: 1em;
  transition: transform 500ms;
}

img:hover,
img:focus {
  transform: scale(1.1);
  transition: transform 500ms;
}
